.login-wrapper {
    background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 1) 100%
        ),
        url("/img/other/GymnasiumRiedberg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100svh);
    margin: 0;
    padding: 0;
    user-select: none;
}

.loginform {
    background-color: #111111;
    padding: 20px;
    border-radius: 10px;
    width: min(100%, 800px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.loginform.small {
    width: min(100%, 400px);

    grid-template-columns: 1fr;
}

.loginform > * {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.loginform > * > * {
    width: 100%;
}

button[type="submit"] {
    margin-top: 10px;
    width: 100%;
}
